html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Gilroy;
}

.Header, .Header_transp {
  padding-bottom: 10vh;
  background-color: white;
  width: 100%;
  z-index: 1000;
  padding: 5vh 5vw 0px 5vw;
  background-color: #002241 !important;

  display: flex;
  justify-content: space-between;

  position: fixed;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.Header.scrolled, .Header_transp.scrolled {
  background-color: #FFFFFF !important;
  box-shadow: #FFFFFF95 -1px 10px 5px;
  padding: 1.5vh 2.5vw;
}

.Header img, .Header_transp img {
  width: 20%;
}

.Header_transp {
  background-color: #00224100 !important;
}

.Header_transp.scrolled {
  background-color: #FFFFFF00 !important;
  box-shadow: unset;
}

.Header img {
  width: 20%;
}

.Banner {
  text-align: center;
}

.containers {
  padding: 5vh 20vw !important;
  font-weight: lighter;
}

.card,
.totalDisplay {
  margin: 5vh 0px;
}

.totalDisplay {
  border: solid 2px gray;
  padding: 1rem 1rem;
  border-width: 0.5px 0px;
  display: flex;
  justify-content: space-between;
}

.oneLine {
  display: flex;
  gap: 0.5rem;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
}

.btn {
  min-width: 30%;
  font-size: larger !important;
}

.trxIcon {
  width: 1.5vw;
  padding-bottom: 0.5vw;
}

.btn-secondary {
  background-color: #002241 !important;
  border-color: #015DAD;
}

.footbanner {
  background: linear-gradient(0deg, #FFFFFF 10%, #002241 35%, #002241 100%);
  padding: 5vh 5vw;
  color: white;
}

.mintcamp {
  /* padding: 5vh 0px; */
  color: white;
}

.myCubiesBtn {
  padding: 1vh 5vw !important;
  border-radius: 30px !important;
}

.myCubiesBtn:hover {
  background-color: white !important;
  color: #002241 !important;
}

.stakeBtn, .unStakeBtn {
  padding: 0.3rem 2rem !important;
  border-radius: 10px !important;
}

.unStakeBtn {
  background-color: white !important;
  color: #002241 !important;
}

.unStakeBtn:hover {
  background-color: #002241 !important;
  color: white !important;
}

.stakeBtn:hover {
  background-color: white !important;
  color: #002241 !important;
}

.Footer {
  margin: 15vh 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0vh 10vw;
}

.socials {
  display: flex;
  gap: 2rem;
  margin-bottom: 2vh;
}

.socials img {
  width: 2vw;
}

.marque {
  background-color: #0A0A0A;
  color: white;
  font-weight: 500;
  padding: 1px !important;
}

.right img {
  width: 100%;
  display: none;
}

.active {
  display: block !important;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.approvalbar{
  background: linear-gradient(0deg, #FFFFFF 1%, #002241 10%, #002241 100%);
  padding: 30vh 5vw;
  color: white;
}

.f-right {
  display: flex;
  align-items: flex-end;
}


@media screen and (max-width: 600px) {
  .containers {
    padding: 2vh 5vw !important;
  }

  .Banner {
    text-align: left;
  }

  .verticalCenter {
    text-align: left;
    padding-top: 3vh;
  }

  .Header, .Header_transp {
    padding-bottom: 5vh;
  }

  .Header, .Header_transp {
    padding-top: 3vh;
  }

  .Header img, .Header_transp img {
    width: 50%;
  }

  .trxIcon {
    width: 5vw;
    padding-bottom: 1vw;
  }

  .socials img {
    width: 10vw;
  }

  .footbanner {
    flex-direction: column-reverse;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0)
  }

  10% {
    transform: scale(1.1, .9) translateY(0)
  }

  30% {
    transform: scale(.9, 1.1) translateY(-100px)
  }

  50% {
    transform: scale(1.05, .95) translateY(0)
  }

  57% {
    transform: scale(1, 1) translateY(-7px)
  }

  64% {
    transform: scale(1, 1) translateY(0)
  }

  100% {
    transform: scale(1, 1) translateY(0)
  }
}